<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div>
      <h1>Welcome To Our Website</h1>
      <h4>Lets Have Some Fun, {{email}}</h4>
      <a href="{{fe_url}}">
        <button>Aktivasi Akun</button>
      </a>
    </div>
  </body>
</html>